@import url("https://fonts.googleapis.com/css2?family=Jersey+20&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+20&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
}

#root {
	height: 100%;
	background-color: #00193b;
}

#root > h1:first-child {
	color: white;
	text-align: center;
	font-family: "Jersey 20";
	font-size: 3rem;
	padding-top: 10px;
}

#root > div {
	margin: 40px;
	display: grid;
	grid-template-columns: repeat(auto-fit, 420px);
	grid-auto-rows: max-content;
	justify-content: center;
	column-gap: 100px;
	row-gap: 30px;
	align-items: center;
	overflow: auto;
}

#root > div > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#root > div > div > h2 {
	text-align: center;
	margin-bottom: 20px;
	color: white;
	font-family: "Poppins";
}

.grid {
	display: grid;
	grid-template-rows: repeat(10, 40px);
	grid-template-columns: repeat(10, 40px);
	gap: 2px;
}

.cell {
	border: 2px solid rgba(255, 255, 255, 0.5);
}

#ship-div {
	box-sizing: border-box;
	padding-top: 50px;
}

.ships {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.ship-container {
	border-style: dotted;
	border-color: rgba(255, 255, 255, 0.5);
	padding: 5px;
	border-radius: 10px;
}

.ships > .ship-container:first-child {
	height: 25px;
	width: 208px;
}

.ships > .ship-container:first-child,
#carrier {
	height: 25px;
	width: 208px;
}

.ships > .ship-container:nth-child(2),
#battleship {
	height: 25px;
	width: 166px;
}

.ships > .ship-container:nth-child(3),
#destroyer {
	height: 25px;
	width: 124px;
}

.ships > .ship-container:nth-child(4),
#submarine {
	height: 25px;
	width: 124px;
}

.ships > .ship-container:last-child,
#patrolBoat {
	height: 25px;
	width: 82px;
}

#ship-div > p {
	color: white;
	font-family: "Poppins";
	text-align: center;
	margin-top: 20px;
	font-size: 0.9rem;
}

#ship-div > div:last-child {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

#ship-div > div:last-child > button {
	width: 100px;
	height: 25px;
	font-size: 0.9rem;
}

.winner {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	color: white;
	font-family: "Poppins";
	display: flex;
	justify-content: center;
	align-items: center;
}
